* {
  /* outline: 1px solid red; 領域視覚化。完成したらコメントアウトする */
  box-sizing: border-box; /* 各要素の幅が会うようになるプロパティ */
}

html {
  font-size: 10px; /* 基本のフォントサイズを設定 */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif; /* フォントファミリーを設定 */
  font-size: 1.6rem; /* フォントサイズを設定 */
  line-height: 1.5; /* 行間を設定 */
  text-align: center; /* テキストの中央揃え */
  color: black; /* テキストカラーを黒に設定 */
  margin: 0; /* ボディのマージンを0に設定 */
}

h1 {
  font-size: 4rem; /* h1タグのフォントサイズを設定 */
  margin: 0; /* h1タグのマージンを0に設定 */
}

@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem; /* 画面幅が460px以下の場合のh1タグのフォントサイズを設定 */
    line-height: 1.2; /* 行間を設定 */
  }
}

h2 {
  font-size: 3.25rem; /* h2タグのフォントサイズを設定 */
}

a {
  color: #477ca7; /* リンクのカラーを設定 */
}

a:visited {
  color: #74638f; /* 訪問済みリンクのカラーを設定 */
}

#main {
  margin: 30px 8px; /* メインコンテンツのマージンを設定 */
  padding: 15px; /* メインコンテンツのパディングを設定 */
  border-radius: 5px; /* メインコンテンツの角を丸める */
  background: #fffcdc; /* メインコンテンツの背景色を設定 */
}

@media (max-width: 460px) {
  #main {
    margin: 0; /* 画面幅が460px以下の場合のメインコンテンツのマージンを設定 */
  }
}

img {
  max-width: 100%; /* 画像の最大幅を100%に設定 */
  display: block; /* 画像をブロック要素として表示 */
  height: auto; /* 画像の高さを自動調整 */
  margin: 0 auto; /* 画像を中央揃え */
}

#img-div {
  background: rgb(171, 232, 109); /* 画像コンテナの背景色を設定 */
  padding: 10px; /* 画像コンテナのパディングを設定 */
  margin: 0; /* 画像コンテナのマージンを設定 */
}

#img-caption {
  margin: 15px 0 5px 0; /* キャプションのマージンを設定 */
  font-size: 1.5rem; /* キャプションのフォントサイズを設定 */
  color: #000000; /* キャプションのカラーを設定 */
}

#headline {
  margin: 50px 0; /* 見出しのマージンを設定 */
  text-align: center; /* 見出しの中央揃え */
  font-size: 3rem; /* 見出しのフォントサイズを設定 */
  color: rgb(224, 74, 54); /* 見出しのカラーを設定 */
}

ul {
  max-width: 550px; /* リストの最大幅を設定 */
  margin: 0 auto 50px auto; /* リストのマージンを設定 */
  text-align: left; /* リストのテキストの左揃え */
  line-height: 1.6; /* 行間を設定 */
  list-style-type: none; /* リストマーカーを非表示に設定 */
}

li {
  margin-bottom: 10px; /* リスト項目の下マージンを設定 */
}

blockquote {
  font-style: italic; /* 引用部分のフォントスタイルをイタリックに設定 */
  max-width: 550px; /* 引用部分の最大幅を設定 */
  margin: 0 auto 50px auto; /* 引用部分のマージンを設定 */
  text-align: left; /* 引用部分のテキストの左揃え */
}
